* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    
    width: 100vw;
    height: 100vh;
}

.reg_form {
    max-width: 400px;
    min-width: 340px;
    max-height: 600px;

    background: #F2F3F7;
    color: #888785;

    border-radius: 5px;

    text-align: center;
}

.form {
    margin: 25px;
}

.title_block {
    display: flex;
    flex-wrap: wrap;
    
}

.title { 
    width: 100%;

}

.title::before,
.title::after {
    content: ' ';
    display: inline-block;

    vertical-align: middle;
    width: 30%;
    height: 3px;

    background: #888785;

    margin: 20px 0;
}

.text {
    width: 100%;
    font-size: 13px;
    letter-spacing: -1px;
    font-weight: 500;
}

#name, #logs {
    margin: 10px 0 15px;
    border:1px solid #888785;
    border-radius: 10px;
    padding: 10px 15px;
}

#name {
    margin: 20px 0 15px;
    width: 48%;
}

#logs {
    width: 100%;
}



.terms {
    font-size: 13px;
    text-decoration: none;
    color: #4FA750;
}
.terms:hover {
    color: #2e6d2f;
    text-decoration: underline;
}


.btn {
    display: inline-block;
    width: 90%;
    height: 50px;
    margin-top: 40px;

    border:1px solid #888785;
    border-radius: 10px;

    background-color: #4FA750;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.btn:hover {
    background-color: #2e6d2f;
}